body{
    font-family: Arial;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right,rgb(7, 121, 102),rgb(6, 116, 143));
}
h2{
    color: silver;
}
h2:hover{
    color: black;
    cursor: default;
}
#userCityName{
    padding: 3px;
    border-radius: 5px;
}
#userCityName:focus{
    color: white;
    background-color: black;
}
#btn{
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(6, 116, 143);
    border-radius: 10px;
}
#btn:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    background-color: rgb(7, 121, 102);
}